/* src/css/custom.css */
.custom-tabs .nav-link {
  background-color: #FAEDEA;
  color: #000000;
}

.custom-tabs .nav-link.active {
  background-color: #FAEDEA;
  color: #FAEDEA;
}

.custom-tabs .nav-link:hover {
  background-color: #FAEDEA;
  color: #666;
}